.messagesIcon {
  font-size: 10px;
  font-weight: bold;
  color: white;
  font-family: 'Open Sans', sans-serif;
  position: relative;
  border: solid 0px;
  border-radius: 50%;
  background-color: red;
  height: fit-content;
  width: 15px;
  left: -10px;
  top: 5px;
}
