.header {
  background-color: rgb(1, 28, 80);
  height: 50px;
  padding: 5px;
}

.title {
  font-size: 1.5em;
  text-align: left;
  margin-left: 10px;
  color: white;
  font-family: 'Lobster', cursive;
}
