.header {
  background-color: rgb(1, 28, 80);
  height: 50px;
  padding: 5px;
}

.descriptiveTitle {
  font-size: 1.75em;
  text-align: center;
  color: white;
  font-family: 'Open Sans', sans-serif;
}
