.header {
  background-color: rgb(1, 28, 80);
  height: 50px;
  padding: 5px;
}

.descriptiveTitle {
  font-size: 1.75em;
  text-align: center;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

.myProfile {
  font-size: 1em;
  text-align: right;
  color: white;
  font-family: 'Open Sans', sans-serif;
  padding-top: 10px;
  padding-right: 10px;
}

.brandname {
  align: left;
}
