.addPostBox {
  margin: 5px;
  padding-bottom: 0.5rem;
}

.postInput {
  font-size: 1em;
  width: 90%;
  border-style: solid;
  border-width: 1px;
  border-color: lightgray;
}

.textEditor {
  min-height: 100px;
}

.postModalBox {
  max-width: 90%;
}

.newsContainer {
  display: flex;
  justify-content: center;
  margin: 15px 0;
}

.newsBox {
  width: 95%;
}

.newsItem {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
  color: #4a4a4a;
  display: block;
  padding: 1.25rem;
  margin: 10px 0;
}

.postDateBox {
  display: flex;
  justify-content: center;

  .postDate {
    font-size: 0.8em;
  }
}