.addPostBox {
  margin: 5px;
  padding-bottom: 0.5rem;
}

.postInput {
  font-size: 1em;
  width: 90%;
  border-style: solid;
  border-width: 1px;
  border-color: lightgray;
}

.textEditor {
  min-height: 100px;
}

.postModalBox {
  max-width: 90%;
}
