.myProfile {
  font-size: 1em;
  text-align: right;
  color: white;
  font-family: 'Open Sans', sans-serif;
  padding-top: 10px;
  padding-right: 10px;
}

.profileMenu {
  top: 10px;
  z-index: 100;
}

.profileMenuItems {
  text-align: left;
}
