.MessagesPage {
  margin-top: 20px;
  margin-right: 40px;
}

.MessageBox {
  margin: 5px;
  height: 100%;
}

.ConversationsBox {
  margin: 5px;
  padding-bottom: 0.5rem;
}

.SearchBox {
  padding: 10px;
  margin: 10px 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

a.ContactBox {
  margin-top: 0;
  margin-bottom: 0 !important;
  padding: 0.5rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.messagesView {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.message {
  background-color: #f5f5f5;
  border-radius: 4px;
  color: #4a4a4a;
  /* font-size: .75rem;
  height: 2em;
  justify-content: center;
  line-height: 1.5;
  padding-left: .75em;
  padding-right: .75em;
  white-space: nowrap;
  margin: 0.25vw; */
}
/* 
.gridContainer {
  display: grid;
  grid-template-columns: 20% auto;
  grid-gap: 1px;
  padding: 1px;
  margin: 40px 40px 10px 10px;
  background-color: #a3a3a3;
  border-radius: 10px;
}

.gridContainer > div {
  text-align: center;
  font-size: 1rem;
  padding: 3px 3px;
  background-color: #f7f7f7;
}

.gridContainer > .contactSearch {
  grid-column: 1;
  grid-row: 1;
}

.gridContainer > .contact {
  grid-column: 1;
  padding: 10px 0;
}

.gridContainer > .contactMessagingTitle {
  grid-column: 2;
  grid-row: 1;
}

.gridContainer > .messagesView {
  grid-column: 2;
  grid-row-start: 2;
  display: grid;
  grid-template-rows: auto 20px;
}

.messageTyper {
  align-self: end;
  justify-self: stretch;
  padding: 0 5px;
}

.inputter {
  width: 100%;
}

.separateTop {
  margin-top: 1rem;
}
 */