.navIconBox {
  display: flex;
}

.navIcon {
  margin: 5px 5px;
  width: 25px;
}

.navIcon .navIconBar {
  background-color: white;
  border-radius: 3px;
  content: '';
  height: 3px;
  margin: 5px 0;
}

.closeIcon {
  margin: 10px 5px;
  width: 25px;
}

.closeIcon .closeIconBar {
  background-color: white;
  border-radius: 3px;
  content: '';
  height: 3px;
  margin: 5px 0;
}

.closeIconBar.closeIconBar1 {
  transform: translateY(4px) rotate(135deg);
}

.closeIconBar.closeIconBar2 {
  transform: translateY(-4px) rotate(-135deg);
}

.navMenu {
  position: fixed;
  top: 0;
  left: 0;
  max-width: 400px;
  background-color: white; /* #F4F4F4; */
  overflow: hidden;
  transition: width 0.5s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 100;
}

.navMenu:not(.navMenuOpen) {
  width: 0;
}

.navMenu.navMenuOpen {
  width: 80%;
}

.navMenuTitle {
  display: flex;
  justify-content: space-between;
  background-color: #011c50;
}

.navMenuTitleImg {
  height: 40px;
  margin-top: 3px;
}

.navMenuBackground {
  position: fixed;
  left: 0;
  top: 0;
  background-color: black;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -100;
  transition: opacity 0.5s;
}

.navMenuBackground.menuOpen {
  opacity: 0.7;
  z-index: 10;
}

.linkItems > li > a {
  line-height: 2;
  font-size: 1.2em;
  white-space: nowrap;
}

.userInfoHeader {
  padding: 5px;
  justify-content: center;
  border-bottom: 2px solid lightgray;
  white-space: nowrap;
}

.userInfoHeaderContent {
  flex-grow: 0;
}

.separator {
  background-color: light-grey;
  height: 2px;
}
