.separateTop {
  margin: 1rem;
}

.messageBox {
  margin: 1rem;
}

.inputEmail {
  max-width: 300px;
  margin: 20px auto;
}

.toggleShowPassword {
  pointer-events: initial;
}

.toggleShowPassword2 {
  pointer-events: initial;
}
